@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,900&display=swap&subset=chinese-traditional');

body,
html {
    height: 100%;
    box-sizing: border-box;
    background-color: $default-white;
    // font-family: 'Noto Sans TC', sans-serif;
}

body {
    overflow-x: hidden;
}

a {

    &:hover,
    &:focus,
    &:visited {
        text-decoration: none;
    }
}

// 電腦版顯示
.for-pc {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

// 手機版顯示
.for-mobile {
    display: none;

    @media screen and (max-width: 767px) {
        display: block;
    }
}

// 全站遮罩
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .53);
    z-index: 500;
    display: none;
}

// 彈跳視窗
.popup-box {
    width: 100%;
    max-width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $default-white;
    padding: 20px 15px;
    border-radius: 10px;
    z-index: 700;
    display: none;

    small {
        display: block;
    }

    .default-btn {
        &.btn-sm {
            width: 50%;
        }
    }
}

// .wrap{
//     overflow-x: hidden;
// }

.form-control {
    box-shadow: none;
}

// 上方標題 & 控制列
.title-box {
    display: flex;
    align-items: center;
    padding: 15px;

    .item {
        min-width: 30px;
        text-align: center;

        &.icon-btn {
            .material-icons {
                font-size: 30px;
            }
        }

        &.ctrl-btn {
            color: $blue-dark;
        }
    }

    .title-name {
        font-size: 18px;
        font-weight: 700;
        margin: auto;
    }
}

.nav-tabs {
    .nav-item {
        margin-bottom: 0;
    }

    .nav-link {
        border: none;
        border-radius: 0;
        color: $blue-dark;

        &.active {
            border: none;
            color: #4A90E2;
        }
    }
}

// ticket material-icons 轉向
.offer {
    transform: scaleX(-1);
}

// 自動置右
.auto-left {
    margin-left: auto;
}

// 全站 btn
.btn {
    width: 100%;
    border-radius: 30px;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px $default-white solid;
}

.default-btn {
    width: 100%;
    color: $default-white;
    background: linear-gradient(270deg, #568EE3 0%, #36D1DB 100%);
    border-radius: 30px;
    padding: 15px;
    font-size: 18px;
    margin-top: 15px;
    outline: none;
}

.disabled-btn {
    background-color: #DDDDDF;
    color: $default-white;
}

.cancel-btn {
    width: 100%;
    color: $default-black;
    background: $default-white;
    margin-top: 15px;
    box-shadow: inset 0 0px 0px 1px $default-black;
}

.next-btn {
    background-color: #F4246A;
    color: $default-white;
}

// 共用 footer
footer {
    position: fixed;
    width: 101%;
    left: 50%;
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    z-index: 300;
    background-color: $default-white;

    .menu-bar {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        border: 1px solid #DADADA;
        border-bottom: none;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        .bar-item {
            flex: 1;
            text-align: center;
            padding: 5px;
            font-size: 13px;
            color: #7C7C7C;

            img {
                width: 50%;
                margin: auto;
                display: block;

                &.default-img {
                    display: block;
                }

                &.active-img {
                    display: none;
                }
            }

            &.active {
                color: $blue-dark;

                .default-img {
                    display: none;
                }

                .active-img {
                    display: block;
                }
            }

            &.customer-item {
                img {
                    width: 80%;
                    margin-top: -20px;
                }
            }
        }
    }
}